*{
  box-sizing: border-box;
}


.container{
  height: 390px;
  width: 500px;
  background-color:rgb(237, 235, 235);
  position: relative;
  top:90px;
  left: 400px;
}
.a1{
  position: absolute;
  top:10px;
  left: 280px;
 
}

.b1 svg,p{
    display: inline;
padding: 10px;
border-radius: 10px;
text-align: center;


}
.b1{
  height: 50px;
width: 180px;
font-size: larger;
border-radius: 10px;

padding-top: 10px;
text-align: center;
}

.b2{
    height: 50px;
    width: 180px;
    background-color: antiquewhite;
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  color: rgb(163, 98, 12) ;
}
.b3{
  height: 50px;
  width: 180px;
   background-color: rgb(243, 243, 133);
   margin-top: 5px;
   margin-bottom: 5px;
   border-radius: 10px;
   color:rgb(132, 132, 12) ;
  
}
.b4{
  height: 50px;
  width: 180px;
  background-color: rgb(182, 238, 204);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
color: rgb(21, 197, 91);
}

.b5{
  height: 50px;
  width: 180px;
  background-color: rgb(124, 124, 236);
  border-radius: 10px;
  color:rgb(13, 13, 130) ;

  }
  button{
    margin: 20px;
    font-size:x-large;
    border-radius: 10px;
    background-color: rgb(7, 7, 50);
    color: aliceblue;
    width: 100%;
    margin-left: -4px;
  }

  .clk{
    background:radial-gradient(rgb(4, 30, 63) 30%,rgb(65, 65, 234) 20% ,rgb(10, 10, 90) ,blue 90px,blue);
    height: 420px;
    width: 300px;
    position: absolute;
    right: 220px;
    bottom:-30px;
    border-radius: 10px;
  }
  .clk #ma{
    padding-top: 20px;
    text-align: center;
    color: aliceblue;
    font-size: larger;
   
  
   
  }
  .great{
    color: white;
    font-size: larger;
    position: absolute;
    bottom: 20px;
    margin-right:100px;
       
  }
  .great p{
  position: absolute;
 bottom: 10px;
  left: 100px;
  color: white;

}
.pl p{
  position: absolute;
  top: 350px;
  color: white;
  opacity: 0.8;
}
.h6{
  position: absolute;
  color: white;
  top: 200px;
  left: 110px;
  font-size: x-large;
}

}

 
